[submodule "deps/paho.mqtt.c"]
	path = deps/paho.mqtt.c
	url = https://github.com/eclipse/paho.mqtt.c.git
	branch = master
[submodule "deps/paho.mqtt.cpp"]
	path = deps/paho.mqtt.cpp
	url = https://github.com/eclipse/paho.mqtt.cpp.git
	branch = master
[submodule "deps/json"]
	path = deps/json
	url = https://github.com/nlohmann/json.git
	branch = develop
[submodule "deps/googletest"]
	path = deps/googletest
	url = https://github.com/google/googletest.git
	branch = master
[submodule "deps/easyloggingpp"]
	path = deps/easyloggingpp
	url = https://github.com/amrayn/easyloggingpp.git
	branch = master
[submodule "deps/open62541"]
	path = deps/open62541
	url = https://github.com/open62541/open62541.git
	branch = master
[submodule "deps/open62541Cpp"]
	path = deps/open62541Cpp
	url = https://github.com/umati/open62541Cpp.git
	branch = master
[submodule "deps/tinyxml2"]
	path = deps/tinyxml2
	url = https://github.com/leethomason/tinyxml2
